//
//   @homepage
// --------------------------------------------------------
//  _5_sections/_homepage.scss
// --------------------------------------------------------
//
//  main content
//
// --------------------------------------------------------

.blog-posts {
	h2.post-title {
		@extend %text-l;
		a {text-decoration: none;}
	}
	@extend %text-m;
	.grid__item {
		padding: $spacing-l;
	}
}

.blog-images {
	.grid__item {
		margin-bottom: $spacing-l;
		> a { 
			background: yellow;
			display: block;
			height:0;
			overflow: hidden;
			padding-bottom: 100%;
			position: relative;
		}
		h2.post-title {
			background: rgba(color('silver'), .8);
			height:100%;
			opacity: 0;
			font-size: 16px;
			line-height: 20px;
			padding: $spacing-m;
			position: absolute;
			text-align: center;
			transition: opacity .3s ease-in-out;
			width: 100%;
			white-space: nowrap;
			span {
				display: inline-block;
				white-space: normal;
				vertical-align: middle;
			}
			&:before {
				content:'';
				display: inline-block;
				height: 100%;
				position: relative;
				vertical-align: middle;
				width: 0;
			}
		}
		&:hover {
			.post-title {
				opacity: 1;
			}
		}
		img {
			max-width: 200%;
			min-height: 100%;
			min-width: 100%;
			position: absolute;
			width: auto;
		}
	}
}