//
//   @sidebar
// --------------------------------------------------------
//  _5_sections/_sidebar.scss
// --------------------------------------------------------
//
//  main content
//
// --------------------------------------------------------

.sidebar {
	@include media('screen and (max-width: #{$bp-m})',true) {margin-top: $spacing-xl;}
	// border-left: 1px solid color('blue-gray');
	// padding-left: $spacing-xl;
	> div {
		// margin-bottom: $spacing-xl;
		.sub-head {
			border-bottom: 1px solid color('blue-gray');
			margin-bottom: $spacing-s;
			padding-bottom: $spacing-s;

		}
	}
}

.categories-list {
	// font-size: modular-scale(em($base-font-size),  -1, 1.25);
	ul {
		padding-left: 0;
		list-style-type: none;
	// 	ul{
	// 		padding-left: $spacing-l;
	// 		list-style-type: circle;
	// 	}

		a {
			display: block;
			line-height: 1.2;
			padding: 5px;
			position: relative;
		}
	}
}
.type-list {
	ul { padding-left: 0; }
	li { list-style-type: none; }
	a {
		display: block;
		padding: 3px;
		position: relative;
		&:before {
			background: transparent url(../img/type-sprite.png) no-repeat 0 -80px;
			content:"";
			display:inline-block;
			height: 20px;
			margin-right: 10px;
			position: relative;
			vertical-align: middle;
			width: 20px;
		}
		&.qte:before {background-position: 0 -40px;}
		&.lnk:before {background-position: 0 0;}
		&.vid:before {background-position: 0 -20px;}
		&.img:before {background-position: 0 -60px;}
	}
}

.tags-list { 
	ul {
		padding-left: 0;
		list-style-type: none;
		@extend %text-s;
	}
	li {
		display: inline-block;
		a {
			background: color('light-gray');
			border-radius: 2px;
			color: color('navy');
			display: block;
			margin: 0 3px 5px 0;
			padding: 0px 6px;
			&:hover {
				background: lighten(color('light-gray'),10%);
				text-decoration: none;
			}
		}
	}
}
