//
//   @site-footer
// --------------------------------------------------------
//  _5_sections/_site-footer.scss
// --------------------------------------------------------
//
//  The site's footer
//
//  This is currently set up with the assumption that there
//  will be 2 navs and a credits area.
//
// --------------------------------------------------------

.site-footer {
	.gl { 
		background: url(/img/gl_logo.svg) no-repeat center center;
		background-size: contain;
		margin-top: $spacing-m;
	 	text-indent: -9999px;
		width: 180px;
	 }
	 .insta {
		background: url(/img/instagram_logo.png) no-repeat center center;
		background-size: contain;
		margin-top: $spacing-m;
		margin-left: 10px;
	 	text-indent: -9999px;
		width: 30px;
	 }
	.craft {
		a {color: #fff;}
		span { 
			display: inline-block;
			background: url(/img/craft_logo.png) no-repeat center center;
			background-size: contain;
			margin-left: 5px;
			margin-top: $spacing-m;
	 		text-indent: -9999px;
			width: 50px;
		}
	 }
	 .tw {
		text-indent: -9999px;
		background: url(/img/tw_logo.png) no-repeat center center;
		background-size: contain;
		margin-top: $spacing-m;
		width: 37px;}
}




//   @site-footer__primary-nav
// --------------------------------------------------------
//  The primary navigation in the footer
// --------------------------------------------------------

.site-footer__primary-nav {
  // Add custom styles below...

}




//   @site-footer__secondary-nav
// --------------------------------------------------------
//  The secondary navigation in the footer
// --------------------------------------------------------

.site-footer__secondary-nav {

}




//   @site-credits
// --------------------------------------------------------
//  The credits section of the site
// --------------------------------------------------------

.site-credits {
  @extend %text-xs;
}