//
//   @site-footer
// --------------------------------------------------------
//  _5_sections/_site-footer.scss
// --------------------------------------------------------
//
//  The site's footer
//
//  This is currently set up with the assumption that there
//  will be 2 navs and a credits area.
//
// --------------------------------------------------------

.site-footer {
	li { padding:0; }
	.twitter, .instagram {
		a {
			display: inline-block;
			background: url(/img/tw_logo.png) no-repeat center center;
			background-size: contain;
			margin-top: $spacing-m;
			text-indent: -9999px;
			width: 37px;
		}
	}
	 .instagram a {
		background-image: url(/img/instagram_logo.png);
	 }
	.gl {
		background: url(/img/gl_logo.svg) no-repeat center center;
		background-size: contain;
		margin-top: $spacing-m;
	 	text-indent: -9999px;
		width: 180px;
	 }
	.craft {
		a {color: #fff;}
		span {
			display: inline-block;
			background: url(/img/craft_logo.png) no-repeat center center;
			background-size: contain;
			margin-left:10px;
			margin-top: $spacing-m;
	 		text-indent: -9999px;
			width: 50px;
		}
	 }
}




//   @site-footer__primary-nav
// --------------------------------------------------------
//  The primary navigation in the footer
// --------------------------------------------------------

.site-footer__primary-nav {
  // Add custom styles below...

}




//   @site-footer__secondary-nav
// --------------------------------------------------------
//  The secondary navigation in the footer
// --------------------------------------------------------

.site-footer__secondary-nav {

}




//   @site-credits
// --------------------------------------------------------
//  The credits section of the site
// --------------------------------------------------------

.site-credits {
  @extend %text-xs;
}
