    <!-- Site's Header-->
    <header class="site-header" role="banner">
        <div class="container">

            <!-- Branding, can be a logo, img ect. -->
            <a class="branding" href="{{ baseurl }}">
                <img src="img/logo.png" class="branding__logo" alt="Justin Aven">
                <h1 class="branding__wordmark">Justin Aven</h1>
            </a>

            <!-- Main site nav -->
            <nav class="site-nav primary-nav">
                <ul class="nav" role="navigation">
                    <li><a class="active" href="#">Blog</a></li>
                    <li><a href="#">Portfolio</a></li>
                </ul>
            </nav>

            <!-- Site Search -->
            <div class="site-search primary-search">
                <form>
                    <input id="search" name="search" type="text" placeholder="Search for stuff...">
                    <label for="serach">Search</label>
                </form>
            </div>
        </div>
    </header>