    <!-- Site's Header-->
    <header class="site-header" role="banner">
        <div class="container">

            <!-- Branding, can be a logo, img ect. -->
            <a class="branding" href="{{ baseurl }}">
                <img src="img/logo.png" class="branding__logo" alt="Justin Aven">
                <h1 class="branding__wordmark">Justin Aven</h1>
            </a>

            <!-- Main site nav -->
            <nav class="site-nav primary-nav">
                <ul class="nav" role="navigation">
                    <li class="has-dropdown">
                        <a href="#" class="active">Blog</a>
                        <ul class="nav-dropdown">
                            <li class="has-dropdown">
                                <a href="#">Stuff You Won't Give A Crap About</a>
                                <ul class="nav-dropdown">
                                    <li><a href="#">other</a></li>
                                    <li><a href="#">stuff and stuff</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Front-end</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Portfolio</a></li>
                </ul>
            </nav>

            <!-- Site Search -->
            <div class="site-search primary-search">
                <form>
                    <input id="search" name="search" type="text" placeholder="Search for stuff...">
                    <label for="serach"><span>Search</span></label>
                </form>
            </div>
        </div>
    </header>