 <div class="categories-list">
                    <h3 class="sub-head">Categories</h3>
                    <ul>
                      <li>
                        <a href="#">Stuff You Won't Give a Flip About</a>
                        <ul>
                            <li><a href="#">Videos</a></li>
                            <li><a href="#">Cool Stuff</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Front-End</a></li>
                      <li><a href="#">Stuff I've Come across</a></li>
                      <li><a href="#">Portfolio</a></li>
                    </ul>
                </div>
                <div class="type-list">
                    <h3 class="sub-head">Post Types</h3>
                    <ul>
                      <li><a href="#">Text</a></li>
                      <li><a href="#">Images</a></li>
                      <li><a href="#">Quotes</a></li>
                      <li><a href="#">Links</a></li>
                      <li><a href="#">Videos</a></li>
                    </ul>
                </div>
                <div class="tags-list">
                    <h3 class="sub-head">Tags</h3>
                    <ul>
                      <li><a href="#">SIDGAFA</a></li>
                      <li><a href="#">css</a></li>
                      <li><a href="#">transtions</a></li>
                      <li><a href="#">video</a></li>
                      <li><a href="#">drawings</a></li>
                      <li><a href="#">comics</a></li>
                      <li><a href="#">goats</a></li>
                      <li><a href="#">photos</a></li>
                      <li><a href="#">tech news</a></li>
                      <li><a href="#">garden</a></li>
                    </ul>
                </div>