{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_home_layout" %}

{% block content %}



        <section>
            <div class="container">
              <div class="grid">
                <div class="main-col-left grid__item  one-whole medium--two-thirds large--three-quarters wide--four-fifths">

                  <div class="single-post">
                  {% switch entry.type %}

                    {% case "quotes" %}
                      <blockquote>
                          <span class="q-mark start">&#8220;</span>{{entry.body|striptags}}<span class="q-mark end">&#8221;</span>
                          <p class="quote-src">&#8212; {{entry.quoteSource}}</p>
                      </blockquote>

                    {% case "links" %}
                      <h3 class="post-title">
                          <a href="{{ entry.redirect }}" target="_blank" href="{{ entry.url }}">{{ entry.title }}</a>
                      </h3>
                      <h4 class="ext-blog-name">via <span>{{entry.quoteSource}}</span></h4>
                      {% set test = entry.body|striptags %}
                      {% set words = test|split(' ') %}
                      <p class="blog-excerpt">{% for word in words[:25] %}
                          {{ word }}{% endfor %} {% if words|length > 25 %}&#8230;{% endif %}</p> 

                    {% default %}
                      <h1 class="post-title">{{ entry.title }}</h1>
                      <h5 class="post-meta">
                          <span class="post-date">{{ entry.postDate|date('M j, Y') }}</span>
                      </h5>
                      {% set assets = entry.postImage %}
                      {% for image in assets %}
                      {% if image.url|length > 0 %}<img class="feature-image" src="{{ image.getUrl('x1200') }}">{% endif %}
                      {% endfor %}
                      <div class="post-content clearfix">
                        {{ entry.body }}
                      </div>

                    {% endswitch %}

                      <div class="post-filing">

                        
                        <p> <span>Entry Type: </span>
                          <a class="entry-type" href="{{ siteUrl }}blog/{{ entry.type }}">{{entry.type.name}}</a>
                        </p>


                        {% set tags = entry.tags %}
                        {% set tag_count = 0%}
                        {% if tags|length%}
                        <p> 
                          <span>Tagged with: </span>
                          {% for tag in tags %}
                            {% if tag_count > 0 %},&nbsp;{%endif%}
                            <a class="entry-type" href="{{ siteUrl }}blog/tags/{{ tag.slug }}">{{tag.title}}</a>
                            {% set tag_count = tag_count + 1 %}
                          {% endfor %}
                        </p>
                        {%endif%}

                        {% set cats = entry.categories %}
                        {% set cat_count = 0%}
                        {% if cats|length%}
                        <p> 
                          <span>Filed Under: </span>
                          {% for cat in cats %}
                            {% if cat_count > 0 %},&nbsp;{%endif%}
                            <a class="entry-type" href="{{ siteUrl }}blog/cats/{{ cat.slug }}">{{cat.title}}</a>
                            {% set cat_count = cat_count + 1 %}
                          {% endfor %}
                        </p>
                        {%endif%}
                        
                      </div>


                    </div>

                </div><!--
             --><div class="sidebar right grid__item one-whole medium--one-third large--one-quarter wide--one-fifth">
                    {% include ["includes/sidebar.html"] %}
                </div>
            </div>
          </div>

        </section>




{% endblock %}
