{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_home_layout" %}
{% set title = "404" %}

{% block content %}

    <section class="a-404">
        <div class="container">
            <div class="grid">
                <div class="grid__item one-whole push--medium--one-third medium--two-thirds push--large--one-third large--seven-twelfths">
                    <h1>Ohhhh... Wow. 404.</h1>
                    <p>This is probably not what you were looking for.</p>
                    <p>Sorry. Try going back a page or possibly head back to the <a href="{{ siteUrl }}">homepage</a>.</p>
                </div><!--
             --><div class="grid__item one-whole pull--medium--two-thirds medium--one-third pull--large--one-half large--one-quarter">
                    <img src="/img/tom-404.jpg">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
